{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="{% static 'cart/cart_detail.css' %}">
{% endblock %}
{% block page_title %}Cart-detail - Maa Shop{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h1>shopping cart</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="cart-table-container">
                <table class="table table-cart">
                    <thead>
                        <tr>
                            <th class="product-col">Product</th>
                            <th class="price-col">Price</th>
                            <th class="qty-col">Qty</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                        {% with product=item.product %}
                            <tr class="product-row">
                                <td class="product-col">
                                    <div class="product-image-container">
                                        <a href="{{ product.get_absolute_url }}" class="produt-table-image">
                                            <img src="{{ product.image.url }}" alt="" srcset="">
                                        </a>
                                    </div>
                                    <div class="product-title">
                                        <a href="">{{ product.name|truncatewords:"3" }}</a>
                                    </div>
                                </td>
                                <td class="price-col">${{ item.price }}</td>
                                <td class="qty-col">
                                    <div class="change-qty">
                                        <input type="text" name="qty" id="qty" value="{{ item.quantity }}">
                                        <span class="change-qty-btns">
                                            <button class="up-qty">
                                                <i class="fa fa-angle-up"></i>
                                            </button>
                                            <button class="down-qty">
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                                <td>${{ item.total_price }}</td>
                            </tr>
                            <tr class="product-row-action">
                                <td colspan="4" class="clearfix">
                                    <div class="float-left">
                                        <a href="#" class="btn-move">Move to Wishlist</a>
                                    </div>
                                
                                    <div class="float-right">
                                        <a href="#" title="Edit product" class="btn-edit">
                                        <a href="{% url 'cart:cart_remove' product.id %}" title="Remove product" class="btn-remove">
                                            <i class="fa fa-times"></i>
                                            <span class="sr-only">Remove</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endwith %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <div class="cart-table-footer">
                                    <div class="left">
                                        <a href="{% url 'products:product_list' %}" class="btn btnD1">Continue Shopping</a>
                                    </div>
                            
                                    <div class="right">
                                        <a href="#" class="btn btnD1 btn-clear-cart">Clear Shopping Cart</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- apply discount form -->
            <div class="row">
                <div class="col-12">
                    <div class="apply-coupon-box">
                        <h4>Apply Discount coupon</h4>
                        <form action="{% url 'coupons:apply' %}" method="post" class="form-inline mt-3">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ coupon_form|crispy }}
                            </div>
                            <button type="submit" class="btn btnD2 m-0">Apply discount</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end apply discount form -->
        </div>
        <div class="col-lg-4">
            <div class="cart-summary">
                <h3>Summary</h3>            
                <table class="table table-totals">
                    <tbody>
                        <tr>
                            <td>Subtotal</td>
                            <td>${{ cart.get_total_price|floatformat:"2" }}</td>
                        </tr>
                        {% if cart.coupon %}
                            <tr>
                                <td>{{ cart.coupon.code }} coupon ({{ cart.coupon.discount }}%)</td>
                                <td>-${{ cart.get_discount|floatformat:"2" }}</td>
                            </tr>
                            {% with active=cart.coupon.is_active %}
                                <tr class="coupon coupon-{% if active %}active{% else%}expired{% endif %}">
                                    <td>
                                        Valid upto:- <span>{{ cart.coupon.valid_to|date:"D, d M,h a" }}</span>
                                    </td>
                                    <td>
                                        {% if active %} Applied {% else %} Expired {% endif %}
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endif %}
                        <tr>
                            <td>Tax</td>
                            <td>$0.00</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Order Total</td>
                            <td>${{ cart.get_total_price_after_discount|floatformat:"2"}}</td>
                        </tr>
                    </tfoot>
                </table>
            
                <div class="checkout-methods">
                    <a href="{% url 'orders:order_create' %}" class="btn w-100 btnD2">Go to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}