{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrastyles %}
{% endblock %}
{% block page_title %}Order - Maa Shop{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h1>shopping cart</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">

        </div>
        <div class="col-lg-3">
			<div class="cart-summary">
				<h3>Summary</h3>
				<table class="table table-totals">
					<tbody>
						<tr>
							<td>Subtotal</td>
							<td>${{ cart.get_total_price|floatformat:"2" }}</td>
						</tr>
						{% if cart.coupon %}
						<tr>
							<td>{{ cart.coupon.code }} coupon ({{ cart.coupon.discount }}%)</td>
							<td>-${{ cart.get_discount|floatformat:"2" }}</td>
						</tr>
						{% with active=cart.coupon.is_active %}
						<tr class="coupon coupon-{% if active %}active{% else%}expired{% endif %}">
							<td>
								Valid upto:- <span>{{ cart.coupon.valid_to|date:"D, d M,h a" }}</span>
							</td>
							<td>
								{% if active %} Applied {% else %} Expired {% endif %}
							</td>
						</tr>
						{% endwith %}
						{% endif %}
						<tr>
							<td>Tax</td>
							<td>$0.00</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td>Order Total</td>
							<td>${{ cart.get_total_price_after_discount|floatformat:"2"}}</td>
						</tr>
					</tfoot>
				</table>
			
				<div class="checkout-methods">
					<a href="{% url 'orders:order_create' %}" class="btn w-100 btnD2">Make Payment</a>
				</div>
			</div>
		</div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="address d-flex">
            {% if addresses %}
                {% for adr in addresses %}
                    <div class="address-card m-1 p-1 border">
                        <p class="font-weight-bold">{{ adr.full_name|title }}</p>
                        <p>{{ adr.line_2 }}</p>
                        <p>{{ adr.line_1 }}</p>
                        <p>{{ adr.city }}, {{ adr.state }}</p>
                        <p>{{ adr.pin_code }}</p>
                        <a href="{% url 'orders:order_create' adr.id %}">Deliver to address</a>
                        <a href="{% url 'accounts:address_edit' adr.id %}">Edit</a>
                        <a href="{% url 'accounts:address_delete' adr.id %}">delete</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row mt-5">
            <div class="col-md-8">
                <form method="post">
                    <h4>Add new Address</h4><br>
                    {% csrf_token %}
                    {{ address_form|crispy }}
                    <button type="submit" class="btn btn-primary">Place Order</button>
                </form>
            </div>
            <div class="col-md-4">
                <ul class="bg-light p-3" style="border-bottom: 5px groove greenyellow; border-radius: 5px;">
                    {% for item in cart %}
                        {% with product=item.product %}
                        <li class="d-flex justify-content-between mb-3">
                            <span>{{ item.quantity}}x 
                            <a href="{% url 'products:product_detail' product.id product.slug  %}">
                                {{ product.name|truncatewords:7 }}
                            </a></span>
                            <span>${{ item.total_price|floatformat:"2" }}</span>
                        </li>
                        {% endwith %}
                    {% endfor %}
                    {% if cart.coupon %}
                    <li class="d-flex justify-content-between">
                        <span>Sub-Total: </span>
                        <span>${{ cart.get_total_price }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span>{{ cart.coupon.code}}({{ cart.coupon.discount }}%)</span>
                        <span>-${{ cart.get_discount|floatformat:"2" }}</span>
                    </li>
                    {% with active=cart.coupon.is_active %}
                    <li class="d-flex justify-content-between">
                        <span>Valid Upto- {{ cart.coupon.valid_to|date:"D,d M, h a" }}</span>
                        <span>{% if active %}Applied{% else %}Expired{% endif %}</span>
                    </li>
                    {% endwith %}
                    {% endif %}
                    <li class="d-flex justify-content-between">
                        <span>Total</span>
                        <span>${{ cart.get_total_price_after_discount|floatformat:"2" }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_scripts %}
    <script>
        // add onchange validation for fields
        // id_phone 
        // id_pin_code
    </script>
{% endblock %}