{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'orders/order_create.css' %}">

{% endblock %}
{% block page_title %}Order - Maa Shop{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h1>checkout</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                {% if address_list %}
                    {% for adr in address_list %}
                        <div class="col-12 col-md-4">
                            <div class="address-box" id="address-box-{{ adr.id }}">
                                <address>
                                    {{ adr.full_name|title }} <br>
                                    {{ adr.line_1 }}, {{ adr.city }} <br>
                                    {{ adr.state }}, {{ adr.pin_code }} <br>
                                    {{ adr.phone }}
                                </address>
                                <div class="remove-btn">
                                    <a href="" data-address-id="{{ adr.id }}" ><i class="fa fa-times"></i></a>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'accounts:address_edit' adr.id %}" class="btn btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                    <a href="{% url 'orders:order_create' adr.id %}" class="btn btnD1">Deliver Here</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                <div class="mt-4 ml-3">
                    <button type="button" class="btn btnD2" data-toggle="modal" data-target="#newAddressModal">
                        <i class="fa fa-plus" aria-hidden="true"></i> New Address
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
			<div class="cart-summary">
				<h3>Summary</h3>
                <ul class="bg-light p-3">
                    {% for item in cart %}
                    {% with product=item.product %}
                    <li class="d-flex justify-content-between mb-3">
                        <span>{{ item.quantity}}x
                            <a href="{% url 'products:product_detail' product.id product.slug  %}">
                                {{ product.name|truncatewords:7 }}
                            </a></span>
                        <span>${{ item.total_price|floatformat:"2" }}</span>
                    </li>
                    {% endwith %}
                    {% endfor %}
                    {% if cart.coupon %}
                    <li class="d-flex justify-content-between">
                        <span>Sub-Total: </span>
                        <span>${{ cart.get_total_price }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span>{{ cart.coupon.code}}({{ cart.coupon.discount }}%)</span>
                        <span>-${{ cart.get_discount|floatformat:"2" }}</span>
                    </li>
                    {% with active=cart.coupon.is_active %}
                    <li class="d-flex justify-content-between">
                        <span>Valid Upto- {{ cart.coupon.valid_to|date:"D,d M, h a" }}</span>
                        <span>{% if active %}Applied{% else %}Expired{% endif %}</span>
                    </li>
                    {% endwith %}
                    {% endif %}
                    <li class="d-flex justify-content-between">
                        <span>Total</span>
                        <span>${{ cart.get_total_price_after_discount|floatformat:"2" }}</span>
                    </li>
                </ul>
			</div>
		</div>
    </div>
</div>

<!-- Modal for new address -->
<div class="modal fade bd-example-modal-lg" id="newAddressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Address</h5>
            </div>
            <div class="modal-body">
                <form method="post" id="addressModalForm">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-12 col-lg-12">
                            {{ address_form.full_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-3 mb-0">
                            {{ address_form.country_code|as_crispy_field }}
                        </div>
                        <div class="form-group col-lg-5 mb-0">
                            {{ address_form.phone|as_crispy_field }}
                        </div>
                        <div class="form-group col-lg-4 mb-0">
                            {{ address_form.pin_code|as_crispy_field }}
                        </div>
                    </div>
                    {{ address_form.line_1|as_crispy_field }}
                    {{ address_form.line_2|as_crispy_field }}
                    <div class="form-row">
                        <div class="form-group col-lg-3 mb-0">
                            {{ address_form.landmark|as_crispy_field }}
                        </div>
                        <div class="form-group col-lg-4 mb-0">
                            {{ address_form.city|as_crispy_field }}
                        </div>
                        <div class="form-group col-lg-5 mb-0">
                            {{ address_form.state|as_crispy_field }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnD1" data-dismiss="modal">Close</button>
                <button type="button" class="btn btnD2" id="newAddressBtn">Save</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
    <script>
        $(document).ready(function(){

            var showModal = "{{ modal }}";
            if (showModal == "True"){
                $("#newAddressModal").modal('show');
            }

            $("#newAddressModal input").addClass("form-control-sm");
            $("#newAddressModal select").addClass("form-control-sm");

            $(".remove-btn a").on('click', function(e){
                e.preventDefault();
                var adr_id = parseInt($(this).data("address-id"));

                $.post({
                    url: "{% url 'accounts:address_delete_ajax' %}",
                    data: {
                        'adr_id': adr_id,
                    },
                    dataType: 'json',
                    success: function(data){
                        if(data['status']=='ok'){
                            console.log('address deleted');
                            $("#address-box-"+adr_id).parent().remove();
                            alert("Address Deleted successfully!")
                        }else{
                            alert('Sorry, Something went wrong!');
                        }
                    }
                })
            });

            $("#newAddressBtn").on('click', function(){
                $("#addressModalForm").submit();
            });

            $("#newAddressModal").on('shown.bs.modal', function(){
                $('.header-nav').css('display', 'none');
            });
            $("#newAddressModal").on('hidden.bs.modal', function(){
                $('.header-nav').css('display', 'block');
            });
        });
        // add onchange validation for fields
        // id_phone 
        // id_pin_code
    </script>
{% endblock %}