{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrastyles %}
{% endblock %}
{% block page_title %}Order - Maa Shop{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="address d-flex">
            {% if addresses %}
                {% for adr in addresses %}
                    <div class="address-card m-1 p-1 border">
                        <p class="font-weight-bold">{{ adr.full_name|title }}</p>
                        <p>{{ adr.line_2 }}</p>
                        <p>{{ adr.line_1 }}</p>
                        <p>{{ adr.city }}, {{ adr.state }}</p>
                        <p>{{ adr.pin_code }}</p>
                        <a href="{% url 'orders:order_create' adr.id %}">Deliver to address</a>
                        <a href="{% url 'accounts:address_edit' adr.id %}">Edit</a>
                        <a href="{% url 'accounts:address_delete' adr.id %}">delete</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row mt-5">
            <div class="col-md-8">
                <form method="post">
                    <h4>Add new Address</h4><br>
                    {% csrf_token %}
                    {{ address_form|crispy }}
                    <button type="submit" class="btn btn-primary">Place Order</button>
                </form>
            </div>
            <div class="col-md-4">
                <ul class="bg-light p-3" style="border-bottom: 5px groove greenyellow; border-radius: 5px;">
                    {% for item in cart %}
                        {% with product=item.product %}
                        <li class="d-flex justify-content-between mb-3">
                            <span>{{ item.quantity}}x 
                            <a href="{% url 'products:product_detail' product.id product.slug  %}">
                                {{ product.name|truncatewords:7 }}
                            </a></span>
                            <span>${{ item.total_price|floatformat:"2" }}</span>
                        </li>
                        {% endwith %}
                    {% endfor %}
                    {% if cart.coupon %}
                    <li class="d-flex justify-content-between">
                        <span>Sub-Total: </span>
                        <span>${{ cart.get_total_price }}</span>
                    </li>
                    <li class="d-flex justify-content-between">
                        <span>{{ cart.coupon.code}}({{ cart.coupon.discount }}%)</span>
                        <span>-${{ cart.get_discount|floatformat:"2" }}</span>
                    </li>
                    {% endif %}
                    <li class="d-flex justify-content-between">
                        <span>Total</span>
                        <span>${{ cart.get_total_price_after_discount|floatformat:"2" }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_scripts %}
    <script>
        // add onchange validation for fields
        // id_phone 
        // id_pin_code
    </script>
{% endblock %}