<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fontawesome 4.7 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    {% block extrastyles %}
        
    {% endblock %}

    <title>{% block page_title %}{% endblock %}</title>
</head>

<body>
    
    <header>
        {% include "navbar.html" %}
        <div class="container-fluid">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </header>
    
    <div class="main-container">
        {% block content %}
    
        {% endblock %}
    </div>

    {% include "footer.html" %}

    {% include 'body_scripts.html' %}
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
    <script type="text/javascript">
        // navbar script
        $(document).ready(function(){
            $('.menu-toggle').click(function(){
                $('div.nav-box').toggleClass('active');
            });
            $('ul li.sub-menu').click(function(){
                $(this).siblings().removeClass('active');
                $(this).parent().parent().siblings().children().children().removeClass('active');
                $(this).toggleClass('active');
            });
            $('ul li.cart-sub-menu').click(function(){
                $(this).siblings().removeClass('active');
                $(this).parent().parent().siblings().children().children().removeClass('active');
                $(this).toggleClass('active');
            });
            $('ul li.sub-menu>a').click(function (event) {
                event.preventDefault();
            });
            $('ul li.cart-sub-menu>a').click(function (event) {
                event.preventDefault();
            });
            // for font-awesome icons, targetting pseudoclass of .fa element
            $('head').append('<style>.fa:before{font-family:fontAwesome;}</style>');
            $('head').append('<style>.fab:before{font-family:fontAwesome;}</style>');

            $("#nav-cart-list").on("click", ".nav-cart-item-remove", function(e){
                e.preventDefault();
                var product_id = parseInt($(this).data("product-id"));
                $.post({
                    url: "{% url 'cart:cart_remove_ajax' %}",
                    data: {
                        'product_id': product_id,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.removed == 'ok') {
                            var itemDiv = $("#nav-cart-list").find("#cart-item-" + data.cart_item_product_id);
                            itemDiv.parent().remove();
                            $('#nav-cart-length').text(data.cart_length);
                            $('#nav-cart-total').text('$' + data.cart_total);
                            $("#nav-cart-total-items").text(data.cart_length + " items");



                            if ($("#nav-cart-list").children().length <= 3) {
                                $("#nav-cart-list").children().last().prev().before('<li id="empty-cart"><div>Your cart is Empty</div></li>');
                            } else {
                                $("#nav-cart-list").find('#empty-cart').remove();
                            }

                            alert('Item removed from cart');
                        } else {
                            alert(data.error_message);
                        }
                    }
                });
            });            
        });

        $(window).scroll(function () {
            if ($(window).width() > 991) {
                if($(window).scrollTop() >= 50){
                    $('.header-nav').addClass('scrolled-nav');
                    $('.header-nav .logo').css('font-size', '2.5em');
                } else {
                    $('.header-nav').removeClass('scrolled-nav');
                    $('.header-nav .logo').css('font-size', '3em');
                }
            }else{
                $('.header-nav').css('background-color', '#000');
            }
        });
    </script>
    {% block extra_scripts %}
    {% endblock %}
</body>

</html>