<footer>
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-12 col-lg-6 widget-newsletter">
                    <div class="widget-newsletter-info w-100">
                        <h2>subscribe newsletter</h2>
                        <p>Get all the latest information on Events, Sales and Offers.</p>
                    </div>
                    <form method="get" class="form-inline">
                        <div class="footer-submit-wrapper">
                            <input type="email" class="form-control" name="newsletter-email" id="newsletter-email" placeholder="Email Address...">
                            <button type="submit" class="btn btnD2">Subscribe</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-12 col-lg-6 share w-100">
                    <div class="social-icons">
                        <a href="#" class="social-icon" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-icon" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-icon" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row row-sm">
                <div class="col-lg-6">
                    <div class="widget">
                        <h4 class="widget-title">Contact Info</h4>
    
                        <div class="row row-sm">
                            <div class="col-sm-6">
                                <div class="contact-widget">
                                    <h4 class="widget-title">ADDRESS</h4>
                                    <a href="#">123 Street Name, City, England</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="contact-widget email">
                                    <h4 class="widget-title">EMAIL</h4>
                                    <a href="mailto:mail@example.com">mail@example.com</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="contact-widget">
                                    <h4 class="widget-title">PHONE</h4>
                                    <a href="#">Toll Free (123) 456-7890</a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="contact-widget">
                                    <h4 class="widget-title">WORKING DAYS/HOURS</h4>
                                    <a href="#">Mon - Sun / 9:00AM - 8:00PM</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4>
                        <ul class="links link-parts">
                            <div class="link-part">
                                <li><a href="about.html">About us</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="my-account.html">My account</a></li>
                            </div>
                            <div class="link-part">
                                <li><a href="#">Orders History</a></li>
                                <li><a href="#">Advanced Search</a></li>
                                <li><a href="login.html">Login</a></li>
                            </div>
                        </ul>
                    </div><!-- End .widget -->
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Main Features</h4>
                        <ul class="links link-parts">
                            <div class="link-part">
                                <li><a href="#">Super Fast Magento Theme</a></li>
                                <li><a href="#">1st Fully working Ajax Theme</a></li>
                                <li><a href="#">10 Unique Homepage Layouts</a></li>
                            </div>
                            <div class="link-part">
                                <li><a href="#">Powerful Admin Panel</a></li>
                                <li><a href="#">Mobile &amp; Retina Optimized</a></li>
                            </div>
                        </ul>
                    </div><!-- End .widget -->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid">
            <p class="footer-copyright text-center">Maa Shop. © 2020. All Rights Reserved</p>
        </div>
    </div>
    
</footer>