{% extends "base.html" %}
{% load static %}
{% block extrastyles %}
	<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
{% endblock %}
{% block content %}

<!-- category slider start -->
<div class="container-fluid">
	<div class="heading-text">
		<h3>Shop by Category</h3>
		<p class="sub-title">Browse in all our categories</p>
	</div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			{% for cat in con_categories %}
				<div class="swiper-slide">
					<a href="{{ cat.get_absolute_url }}" class="cat-link">
					<div class="category-box">
						<div class="cat-image"><img src="{% if cat.image %}{{ cat.image.url }}{% else %}media/products/2020/03/06/watch1.jpg{% endif %}" alt=""></div>
						<div class="cat-detail">
							<div class="cat-name">{{ cat.name }}</div>
							<div class="cat-products">{{ cat.products.count }} products</div>
						</div>
					</div>
					</a>
				</div>
			{% endfor %}
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
<!-- category slider start -->

<!-- sale products start -->
<div class="container-fluid">
	<div class="heading-text">
		<h3>Products on sale</h3>
		<p class="sub-title">Check all our products on sale</p>
	</div>
	<div class="row">
		{% for product in products_on_sale %}
		<div class="col-6 col-md-4 col-lg-3">
			<div class="product-default product">
				<div class="product-image">
					<a href="{{ product.get_absolute_url }}" class="product-image-anchor">
						<img src="{{ product.image.url }}" alt="">
					</a>
					<div class="discount-label">{{ product.discount_percent }}% Off</div>
					<div class="add-to-cart-btn-icon"><a href=""><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></div>
					<div class="quick-view-btn"><a href="">Quick view</a></div>
				</div>
				<div class="product-detail">
					<div class="product-category">
						<a href="{{ product.category.get_absolute_url }}" class="product-category-anchor">{{ product.category }}</a>
					</div>
					<div class="product-title">
						<a href="{{ product.get_absolute_url }}" class="product-title-anchor">{{ product.name|truncatewords:4 }}</a>
					</div>
					<div class="ratings-container">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
					</div>
					<div class="product-price">
						<span class="old-price">${{ product.price }}</span>
						<span class="discount-price">${{ product.get_price }}</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<!-- sale products end -->


{% endblock %}
{% block extra_scripts %}
	<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
	<script>
		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 'auto',
			spaceBetween: 15,
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
			autoplay: {
				delay: 2500,
				disableOnInteraction: false,
			},
		});
	</script>
{% endblock %}