{% extends "base.html" %}
{% load static %}
{% block extrastyles %}
	<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
	<link rel="stylesheet" href="{% static 'css/smoothproducts/smoothproducts.css' %}">
	<style>
		.sp-wrap{
			max-width: 100%;
			max-height: 70vh;
			overflow-y: hidden;
		}
		.sp-wrap img{
			max-width: inherit;
		}
	</style>
{% endblock %}
{% block content %}

<!-- category slider start -->
<div class="container-fluid">
	<div class="heading-text">
		<h3>Shop by Category</h3>
		<p class="sub-title">Browse in all our categories</p>
	</div>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			{% for cat in con_categories %}
				<div class="swiper-slide">
					<a href="{{ cat.get_absolute_url }}" class="cat-link">
					<div class="category-box">
						<div class="cat-image"><img src="{% if cat.image %}{{ cat.image.url }}{% else %}media/products/2020/03/06/watch1.jpg{% endif %}" alt=""></div>
						<div class="cat-detail">
							<div class="cat-name">{{ cat.name }}</div>
							<div class="cat-products">{{ cat.products.count }} products</div>
						</div>
					</div>
					</a>
				</div>
			{% endfor %}
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
<!-- category slider start -->

<!-- sale products start -->
<div class="container-fluid">
	<div class="heading-text">
		<h3>Products on sale</h3>
		<p class="sub-title">Check all our products on sale</p>
	</div>
	<div class="row">
		{% for product in products_on_sale %}
		<div class="col-6 col-md-4 col-lg-3">
			<div class="product-default product">
				<div class="product-image">
					<a href="{{ product.get_absolute_url }}" class="product-image-anchor">
						<img src="{{ product.image.url }}" alt="">
					</a>
					{% if product.discount_percent %}
					<div class="discount-label">{{ product.discount_percent }}% Off</div>
					{% endif %}
					<div class="add-to-cart-btn-icon">
						<a href="add-to-cart/" class="add-to-cart-btn-icon-anchor" data-product-id="{{ product.id }}">
							<i class="fa fa-shopping-bag" aria-hidden="true"></i>
						</a>
					</div>
					<div class="quick-view-btn"><a href="" class="quick-view-btn-anchor" data-product-id="{{ product.id }}">Quick view</a></div>
				</div>
				<div class="product-detail">
					<div class="product-category">
						<a href="{{ product.category.get_absolute_url }}" class="product-category-anchor">{{ product.category }}</a>
					</div>
					<div class="product-title">
						<a href="{{ product.get_absolute_url }}" class="product-title-anchor">{{ product.name|truncatewords:4 }}</a>
					</div>
					<div class="ratings-container">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
					</div>
					<div class="product-price">
						<span class="old-price">${{ product.price }}</span>
						<span class="discount-price">${{ product.get_price }}</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<!-- sale products end -->

<!-- featured products start -->
<div class="container-fluid bg-light pt-2">
	<div class="heading-text">
		<h3>Featured Products</h3>
		<p class="sub-title">Check all our featured products</p>
	</div>
	<div class="row">
		{% for product in featured_products %}
		<div class="col-6 col-md-4 col-lg-3">
			<div class="product-default product">
				<div class="product-image">
					<a href="{{ product.get_absolute_url }}" class="product-image-anchor">
						<img src="{{ product.image.url }}" alt="">
					</a>
					{% if product.discount_percent %}
					<div class="discount-label">{{ product.discount_percent }}% Off</div>
					{% endif %}
					<div class="add-to-cart-btn-icon">
						<a href="add-to-cart/" class="add-to-cart-btn-icon-anchor" data-product-id="{{ product.id }}">
							<i class="fa fa-shopping-bag" aria-hidden="true"></i>
						</a>
					</div>
					<div class="quick-view-btn"><a href="" class="quick-view-btn-anchor" data-product-id="{{ product.id }}">Quick view</a></div>
				</div>
				<div class="product-detail">
					<div class="product-category">
						<a href="{{ product.category.get_absolute_url }}"
							class="product-category-anchor">{{ product.category }}</a>
					</div>
					<div class="product-title">
						<a href="{{ product.get_absolute_url }}"
							class="product-title-anchor">{{ product.name|truncatewords:4 }}</a>
					</div>
					<div class="ratings-container">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
					</div>
					<div class="product-price">
						<span class="old-price">${{ product.price }}</span>
						<span class="discount-price">${{ product.get_price }}</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<!-- featured products end -->

<!-- product quick view modal start -->
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="product-quick-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">A Quick View</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<div class="modal-product-image">
							<div class="sp-wrap">
								<a href=""><img src="" alt=""></a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-12">
						<div class="modal-product-detail">
							<div class="modal-product-name">
								<h4>Short Product Name</h4>
							</div>
							<div class="ratings-container">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
							<div class="product-price mt-2">
								<span class="old-price">$59.99</span>
								<span class="discount-price">$49.99</span>
							</div>
							<div class="modal-product-desc mt-3">
								<p></p>
							</div>
							<div class="modal-product-actions mt-2">
								<button type="submit" class="btn btnD1"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Add to cart</button>
								<a href="#" class="btn btnD1 px-3"><i class="fa fa-heart"></i></a>
							</div>
							<div class="modal-product-share mt-2">
								<ul class="share-actions">
									<li>Share: </li>
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- product quick view modal end -->



{% endblock %}
{% block extra_scripts %}
	<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
	<script src="{% static 'js/smoothproducts/smoothproducts.min.js' %}"></script>
	<script>
		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 'auto',
			spaceBetween: 15,
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
			autoplay: {
				delay: 2500,
				disableOnInteraction: false,
			},
		});
	</script>
	<script>
		$(document).ready(function(){
			// product list catalog script
			$('.add-to-cart-btn-icon-anchor').on("click", function(e){
				e.preventDefault();
				var product_id = $(this).data("product-id")

				$.post({
					url: "{% url 'cart:cart_add_ajax' %}",
					data: {
						product_id: product_id,
					},
					dataType: 'json',
					success: function (data) {
						if (data.added == 'ok') {
							$('#nav-cart-length').text(data.cart_length);
							$('#nav-cart-total').text('$' + data.cart_total);
							$("#nav-cart-total-items").text(data.cart_length + " items");

							added_item = data.added_item;
							var itemDiv = $("#nav-cart-list").find("#cart-item-" + data.added_item.cart_item_product_id);
							if (itemDiv.length) {
								var detailDiv = itemDiv.children().first()
								detailDiv.find('span').text(data.added_item.quantity + ' x $' + data.added_item.price);
							} else {
								// adding new list divElement
								itemDiv = $('#new-nav-cart-item').html();
								$("#nav-cart-list").children().last().prev().before(itemDiv);

								var addedElementDiv = $("#nav-cart-list").children().eq(-3).children();

								addedElementDiv.css('display', 'flex');
								addedElementDiv.attr("id", "cart-item-" + added_item.cart_item_product_id);

								var detailDiv = addedElementDiv.children().first();
								detailDiv.find('.product-name').attr("href", added_item.product_url);
								detailDiv.find('.product-name').text(added_item.product_name); // added truncated string
								detailDiv.find('span').text(added_item.quantity + ' x $' + added_item.price);

								var imageDiv = addedElementDiv.children().last();
								imageDiv.find('img').attr("src", added_item.product_image_url);
								imageDiv.find(".nav-cart-item-remove").data("product-id", added_item.cart_item_product_id);
							}
							alert('Item Added to cart!!!');
						} else {
							alert(data.error_message);
						}

					}
				});
			});

			$('.quick-view-btn-anchor').on("click", function(e){

				e.preventDefault();
				var product_id = parseInt($(this).data("product-id"));

				$.ajax({
					url: '/product-detail/ajax/'+product_id+'/',
					data:{},
					dataType: 'json',
					success: function(data){
						if(data.status == 'ok'){
							var item = data.item;
							var image_list = data.product_image_list;
							console.log(image_list);
							// add item data to modal html
							var modalProductImage = $('.modal-body').children().first().children();
							modalProductImage.find('a').attr("href", item.product_image_url);
							modalProductImage.find('img').attr("src", item.product_image_url);
							// create a>img tags and append them inside .sp-wrap

							var modalProductDetail = $('.modal-body').children().last().children();
							modalProductDetail.find(".modal-product-name h4").text(item.product_name);
							modalProductDetail.find(".old-price").text('$'+ item.product_original_price);
							modalProductDetail.find(".discount-price").text('$'+ item.product_current_price);
							modalProductDetail.find(".modal-product-desc p").text(item.product_short_desc);
							
							$('#product-quick-view').modal('show');
							
						}else{
							alert(data.error_message);
						}
					}
				})
			});

			$('#product-quick-view').on('hidden.bs.modal',function(){
				$(".header-nav").css('display', 'block');
			});
			$('#product-quick-view').on('shown.bs.modal',function(){
				$(".header-nav").css('display', 'none');
			})

			$('.sp-wrap').smoothproducts();
		});
	</script>
{% endblock %}