<div class="header-nav">
    <div class="logo">LOGO</div>
    <div class="nav-box">
        <nav class="nav-left">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">about</a></li>
                <li class="sub-menu">
                    <a href="">catgories</a>
                    <ul>
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                    </ul>
                </li>
    
                <li><a href="">Orders</a></li>
                <li><a href="">contact</a></li>
            </ul>
        </nav>
        <nav class="nav-right">
            <ul>
                <li><a href=""><i class="fa fa-user" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="menu-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
</div>