<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cart:cart_detail' %}">
                    {% with total_item=cart|length %}
                        {% if total_item %}
                            {{ total_item }} item{{ total_item|pluralize }},
                            ${{ cart.get_total_price }}
                        {% else %}
                            Empty
                        {% endif %}
                    {% endwith %}
                </a>
            </li>
            <li class="nav-item dropdown dropleft">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Your Cart
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for item in cart %}
                        {% with product=item.product %}
                            <a class="dropdown-item" href="{{ product.get_absolute_url }}">
                                {{ product.name|truncatewords:3}}
                            </a>
                            <div class="dropdown-divider"></div>
                        {% endwith %}
                    {% endfor %}
                    <span class="dropdown-item" href="#">
                        <div class="d-flex justify-content-between">
                            <span>Total: </span>
                            <span>${{ cart.get_total_price }}</span>
                        </div>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</nav>