<div class="header-nav">
    <div class="logo">LOGO</div>
    <div class="nav-box">
        <nav class="nav-left">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="">about</a></li>
                <li class="sub-menu">
                    <a href="">catgories</a>
                    <ul>
                        {% for cat in con_categories %}
                            <li><a href="{{ cat.get_absolute_url }}">{{ cat.name|title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li><a href="">Orders</a></li>
                {% endif %}
                <li><a href="">contact</a></li>
            </ul>
        </nav>
        <nav class="nav-right">
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                {% else %}
                    <li><a href=""><i class="fa fa-user" aria-hidden="true"></i></a></li>
                {% endif %}
                <li><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                <li class="cart-sub-menu">
                    <a href="">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <span id="nav-cart-length">{{ cart|length }}</span>
                    </a>
                    <ul id="nav-cart-list">
                        <li>
                            <div>
                                <span>{{ cart|length }} items</span>
                                <span><a href="{% url 'cart:cart_detail'%}">View Cart</a></span>
                            </div>
                        </li>
                        {% if cart|length > 0 %}
                            {% for item in cart %}
                                {% with product=item.product %}
                                <li>
                                    <div class="cart-item" id="cart-item-{{ product.id }}">
                                        <div class="item-detail">
                                            <a href="{{ product.get_absolute_url }}" class="product-name">
                                                {{ product.name|truncatewords:2 }}
                                            </a><br>
                                            <span>{{ item.quantity }} x ${{ product.get_price }}</span>
                                        </div>
                                        <div class="item-image">
                                            <a href="" class="cart-item-remove"><i class="fa fa-times"></i></a>
                                            <img src="{{ product.image.url }}" alt="">
                                        </div>
                                    </div>
                                </li>
                                {% endwith %}
                                {% endfor %}
                        {% else %}
                            <li><div>Your cart is Empty</div></li>
                        {% endif %}
                        <li>
                            <div class="cart-total">
                            <span>Total:</span>
                            <span id="nav-cart-total">${{ cart.get_total_price }}</span>
                            </div>
                        </li>
                        <li><a href="{% url 'orders:order_create' %}" class="checkout">checkout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="menu-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
</div>
<div id="new-nav-cart-item">
    <li>
        <div class="cart-item" id="cart-item-{{ product.id }}" style="display: none;">
            <div class="item-detail">
                <a href="{{ product.get_absolute_url }}" class="product-name">
                    {{ product.name|truncatewords:2 }}
                </a><br>
                <span>{{ item.quantity }} x ${{ product.get_price }}</span>
            </div>
            <div class="item-image">
                <a href="" class="cart-item-remove"><i class="fa fa-times"></i></a>
                <img src="{{ product.image.url }}" alt="">
            </div>
        </div>
    </li>
</div>