@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif !important;
}
body{
    margin: 0;
    padding: 0;
    padding-top: 90px !important;
}
.container-fluid{
    padding: 0 100px !important;
}

.btnD1{
    position: relative;
    /* margin: 1em .3em; */
    padding: 10px 30px;
    border: 1px solid #000;
    text-transform: uppercase;
    color: #000;
    border-radius: 0 !important;
    font-size: .8rem;
    transition: .5s linear;
}
/* .btnD1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: .5s linear;
} */
.btnD1:hover{
    border: 1px solid #fff;
    background: #000;
    color: #fff;
}
/* .btnD1:hover::before{
    width: 100%;
} */
@media (max-width: 991px){
    .container-fluid{
        padding: 0 10px !important;
    }
}
