.swiper-slide{
    width: 200px !important;
}
.heading-text h3{
    font-size: 1.5rem;
    color: #000;
    text-transform: capitalize;
}
.heading-text p.sub-title{
    font-size: .9rem;
    color: #5a5a5a;
}
.cat-link,
.cat-link:hover{
  text-decoration: none;
  display: inline-block;
}
.category-box{
    width: 200px;
    padding: 5px;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px #eee;
}
.cat-image{
    width: 100%;
    height: 160px;
    background: #cbccce;
    transition: .5s;
}
.cat-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.cat-detail{
  margin-top: .5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cat-detail .cat-name{
    color: #000;
    font-size: .9rem;
    font-weight: 500;
}
.cat-detail .cat-products{
    color: #5a5a5a;
    font-size: .7rem;
    font-weight: 300;
}

.product{
    margin: 2em 0;
}
.product-image{
    position: relative;
    width: 100%;
    height: 260px;
    transition: .5s;
}
.product-image a.product-image-anchor{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.product-image a.product-image-anchor img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.product-image .discount-label{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: #de0d03;
    padding: 0 5px;
    color: #fff;
    letter-spacing: 1px;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
}
.product-image .add-to-cart-btn-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
.product-image .add-to-cart-btn-icon a{
    color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 5px 8px 8px;
    cursor: pointer;
    background: #000;
    box-shadow: 0px 2px 10px #00000080;
    transition: .5s;
}
.product-image .add-to-cart-btn-icon a:hover{
    color: #000;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 10px 10px #00000080;
}
.product-image .quick-view-btn{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.product-image .quick-view-btn > a{
    display: none;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;
    transition: .5s;
    width: 100%;
    padding: 15px 20px;
    background: #000;
    transition: .5s;
}
.product-default:hover .product-image .quick-view-btn > a{
    display: inline-block;
}
.product-default:hover .product-image .add-to-cart-btn-icon{
    display: inline-block;
}
.product-default:hover .product-image{
    box-shadow: 1px 5px 10px rgba(0,0,0,0.5);;
}

.product-detail{
    margin: .5em 0 0;
    padding: 0 5px 0;
}
.product-detail .product-category a.product-category-anchor{
    text-transform: uppercase;
    font-size: .8rem;
    color: #5a5a5a;
    letter-spacing: 1px;
    text-decoration: none;
}
.product-detail .product-title{
    height: 30px;
    overflow: hidden;
}
.product-detail .product-title a.product-title-anchor{
    text-transform: capitalize;
    font-size: 1.12rem;
    color: #000;
    text-decoration: none;

}
.modal-product-detail .product-price .old-price,
.product-detail .product-price .old-price{
    font-size: .89rem;
    text-decoration: line-through;
    color: #5a5a5a;
}
.modal-product-detail .product-price .discount-price,
.product-detail .product-price .discount-price{
    font-size: .98rem;
    color: #000;
}

.modal-product-image{
    height: 70vh;
}

.modal-product-desc>p{
    font-weight: 400;
    font-size: .9rem;
}

ul.share-actions{
    margin: 0;
    padding: 0;
    display: flex;
}
ul.share-actions li{
    list-style: none;
}
ul.share-actions li > a{
    display: inline-block;
    margin: 0 .3em;
    padding: 0 10px;
    border: none;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    background: #5a5a5a;;
}