{% extends "base.html" %}
{% load static %}
{% block extrastyles %}
<link rel="stylesheet" href="{% static 'css/exzoom/jquery.exzoom.css'%}">
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
{% endblock %}
{% block page_title %} Maa Shop-Products {% endblock %}
{% block content %}
<div class="wrapper">
    <div class="content">
        <div class="product-box">
            <div class="row">
                <!-- images of product -->
                <div class="col-lg-6" style="height: 80vh; position: relative;">
                    <div class="exzoom" id="exzoom">
                        <!-- Images -->
                        <div class="exzoom_img_box">
                            <ul class='exzoom_img_ul'>
                                <li><img src="{{ product.image.url }}" /></li>
                                
                                {% for img in product.image_set.all %}
                                    <li><img src="{{ img.image.url }}" /></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- <a href="https://www.jqueryscript.net/tags.php?/Thumbnail/">Thumbnail</a> Nav-->
                        <div class="exzoom_nav"></div>
                        <!-- Nav Buttons -->
                        <p class="exzoom_btn">
                            <a href="javascript:void(0);" class="exzoom_prev_btn">
                                &lt; </a>
                            <a href="javascript:void(0);" class="exzoom_next_btn"> &gt; </a>
                        </p>
                    </div>
                </div>

                <!-- product detail start -->
                <div class="col-lg-6">
                    <h4 class="product-name">{{ product.name }}</h4>
                    <p><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></p>
                    <p>${{ product.price }}</p>
                    <div class="product-desc-box">
                        {{ product.desc|safe }}
                    </div>
                    <button type="submit" class="btn btn-primary">Add to cart</button>
                </div>
                <!-- product detail end -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/exzoom/jquery.exzoom.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $("#exzoom").exzoom({
                "autoPlay": false,
            });
        });
    </script>
{% endblock %}